.Property {
    min-height: 70vh;
    background-image: url("../../Assets/property.jpeg");
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2vw;
    overflow: hidden;
    cursor: pointer;
}

.Property  h1 {
    color: white;
    margin-left: 15px
}

.Property:hover h1{
    transform: scale(1.1);
    transition: all 1s ease;
    letter-spacing: 1rem;
}


.Property .css-1c35hjw-MuiPaper-root-MuiAccordion-root {
    width: 30vw !important;
}

.Property .css-1wz20g3 {
    width: 30vw !important;
}