
.Category {
    width: 15vw;
}

.Category .label {
margin-left: 12px
}


@media (max-width: 975px) { 
    .Category {
        display: flex !important;
        width: 100%;
    }
    .kunal {
        display: flex !important;
        width: 100%;
        justify-content: space-between;
    }
    .ratingAccordion {
        display: none !important;
    }
}