.Banquet {
    min-height: 70vh;
    background-image: url("../../Assets/banquet.jpeg");
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 1rem;
    font-size: 2vw;
    overflow: hidden;
    cursor: pointer;
    
}

.Banquet:hover h1{
    transform: scale(1.1);
    transition: all 1s ease;
    
}