.SubscribeBox {
    height: 100px;
    width: 60vw;
    border: solid blue 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background: #8532c4;
    position: relative;
    top: -20px;
    text-align: center;
}
.SubscribeBox  h3 {
    color: wheat;
    font-size: 2rem;
}




@media (max-width: 843px) {
    .SubscribeBox {
        flex-direction: column;
        line-height: 3rem;
        height: 20vh;
        padding: 12px;
    }
    .SubscribeBox .right {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    .SubscribeBox input {
        width: 50vw;
    }
    .SubscribeBox  h3 {
        font-size: 1rem;
    }
    
}