.Navbar {
    /* border: solid 1px red; */
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: sticky;
    top: 0;
    background: #c9c9c96e;
    z-index: 999;
}

.Navbar .navLeft {
    height: 100%;
}

.Navbar .navLeft img {
    height: 100%;
}


.Navbar .navRight {
    display: flex;
    align-items: center;
    position: relative;
    top: 20px;
}

.Navbar .navRight ul {
    display: flex;
    gap: 3vw;
}




@media (max-width: 735px) {
    .Navbar {
        flex-direction: column;
        align-items: center;   
        margin-bottom: 12px;
    }

}