.Navbar {
    /* border: solid 1px red; */
    /* height: 10vh; */
    min-height: 10vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.224);
    z-index: 999;
    background: #d1d1e1c9;
}