.Pubs {
    min-height: 70vh;
    width: 100%;
    /* border: solid green  5px; */
    background-image: url("../../Assets/pubs.jpeg");
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 2vw;
    overflow: hidden;
    cursor: pointer;
}

.Pubs h1 {
    color: white;
}

.Pubs:hover h1 {
    transform: scale(1.1);
    transition: all 1s ease;
    letter-spacing: 2rem;
}

.accordionCards {
    display: flex;
    gap: 5vw;
}

.css-i4bv87-MuiSvgIcon-root {
    color: white;
    font-size: 3rem !important;
}

.css-vubbuv {
    color: white;
    font-size: 3rem !important;
}


.css-1c35hjw-MuiPaper-root-MuiAccordion-root {
    background-color: transparent !important;
}
.css-1wz20g3 {
    background-color: transparent !important;
}