.Restaurants {
    min-height: 70vh;
    width: 100%;
    /* border: solid green  5px; */
    background-image: url("../../Assets/restaurant.jpeg");
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2vw;
    overflow: hidden;
    cursor: pointer;
}
.Restaurants  h1 {
    color: white;
    margin-left: 15px
}

.Restaurants:hover h1{
    transform: scale(1.1);
    transition: all 1s ease;
    letter-spacing: 1rem;
}


.Restaurants .css-1c35hjw-MuiPaper-root-MuiAccordion-root {
    width: 90vw !important;
}
.Restaurants .css-1wz20g3 {
    width: 90vw !important;
}